/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box; }

html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

html, body {
  height: 100%; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.container {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

h1, p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

.background-img {
  width: 100%;
  height: 630px;
  background: url("../img/bkgrd.jpg") #d4ecfb no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }

h1 {
  color: #1185d7;
  font-size: 1.7em;
  font-weight: 700; }

/* ==========================================================================
   _form.scss
   ========================================================================== */
.form {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 500px;
  margin-top: 80px; }
  .form p {
    font-size: 1.3em;
    margin-top: 30px; }

form {
  width: 100%; }

form div {
  display: block;
  margin: 20px 0; }

input {
  border-radius: 20px;
  border: 1px solid #D8D7D7;
  width: 90%;
  padding: 15px 0 15px 15px; }

textarea {
  border-radius: 20px;
  border: 1px solid #D8D7D7;
  width: 90%;
  margin: 15px 0;
  padding: 15px 0 15px 15px; }

input[type="text"] {
  height: 45px;
  margin: 15px 0; }

input + label {
  display: block;
  color: #595959;
  margin-top: -45px;
  margin-left: 24px;
  font-size: 14px;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition-duration: 0.2s; }

textarea + label {
  display: block;
  color: #595959;
  margin-top: -110px;
  margin-left: 20px;
  height: 70px;
  font-size: 14px;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition-duration: 0.2s; }

input[type="submit"] {
  background-color: #1185d7;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  font-size: 1.3em;
  color: #ffffff;
  margin-top: 40px; }

input[type="submit"]:hover {
  background-color: #eeeeee;
  color: #1185d7; }

input[type="text"]:focus + label, input[type="text"].entered + label {
  -webkit-transform: translate(-35px, -35px) scale(0.9, 0.9);
  -moz-transform: translate(-35px, -35px) scale(0.9, 0.9);
  -ms-transform: translate(-35px, -35px) scale(0.9, 0.9);
  -o-transform: translate(-35px, -35px) scale(0.9, 0.9);
  transform: translate(-35px, -35px) scale(0.9, 0.9); }

textarea:focus + label, textarea.entered + label {
  -webkit-transform: translate(-35px, -35px) scale(0.9, 0.9);
  -moz-transform: translate(-35px, -35px) scale(0.9, 0.9);
  -ms-transform: translate(-35px, -35px) scale(0.9, 0.9);
  -o-transform: translate(-35px, -35px) scale(0.9, 0.9);
  transform: translate(-35px, -35px) scale(0.9, 0.9); }

input:focus, textarea:focus {
  outline: none;
  border: 2px solid #1185d7; }

html {
  background: #eee; }

body {
  margin: 17px 0 15px 0;
  padding: 0;
  text-align: center;
  font-size: small; }

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section,
video, object, output {
  display: block; }

#container {
  text-align: left;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px; }

#container {
  margin: 0 auto 10px auto;
  width: 640px; }

form.wufoo {
  position: relative;
  top: 180px;
  width: 412px;
  text-align: left;
  float: right; }

#logo {
  margin: 0;
  padding: 0;
  min-height: 0;
  background-color: #dedede;
  text-indent: -9000px;
  text-decoration: none; }

#logo a {
  min-height: 40px;
  height: 40px;
  display: block;
  background: url(../images/wflogo.png) no-repeat left top;
  overflow: hidden; }

* html #logo a {
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/wflogo.png", sizingMethod="crop"); }

img, a img {
  border: none;
  -ms-interpolation-mode: bicubic; }

.hide, .cloak div, .cloak span, .likert.cloak tbody, .likert.cloak thead {
  display: none !important; }

.likert.cloak table {
  border: none; }

/* ==========================================================================
   _header.scss
   ========================================================================== */
header {
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: #ffffff;
  text-align: left;
  height: 75px;
  width: 100%; }
  header a {
    text-decoration: none; }
  header img {
    width: 15px;
    height: auto; }
  header h1 {
    padding-top: 17px;
    font-size: 2.8em;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    width: 49%; }
  header #social {
    display: inline-block;
    width: 49%;
    text-align: right; }
    header #social div {
      display: inline-block; }
    header #social a {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      background-color: #9d9d9d;
      text-align: center;
      padding: 10px 0; }
    header #social a:hover {
      background-color: #1185d7; }

nav {
  position: fixed;
  top: 75px;
  z-index: 99999;
  width: 100%;
  height: 38px;
  background-color: #1185d7;
  text-align: left; }
  nav ul {
    padding: 0;
    margin: 0; }
    nav ul li {
      display: inline-block;
      padding: 10px 30px;
      list-style: none;
      float: left;
      -webkit-transition: all ease-out 300ms;
      -moz-transition: all ease-out 300ms;
      -o-transition: all ease-out 300ms;
      transition: all ease-out 300ms; }
      nav ul li a {
        color: #fff;
        text-decoration: none; }
  nav ul li:hover {
    background-color: #ffffff; }
    nav ul li:hover a {
      color: #1185d7; }
  nav li ul.sub_nav {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
    left: 0px;
    z-index: 99;
    top: 38px;
    background-color: #1185d7; }
    nav li ul.sub_nav a {
      color: #fff; }
    nav li ul.sub_nav li {
      width: 150px; }
  nav li:hover ul {
    display: block;
    width: 150px; }
  nav li li:hover a {
    color: #1185d7; }

/* ==========================================================================
   _image_section.scss
   ========================================================================== */
#first {
  margin-top: 100px; }

.image-section p.txt_lt + p {
  top: 140px;
  width: 70%;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 1px 1px 0 #fff; }

.image-section img {
  max-width: 100%; }

h1.txt_lt {
  position: absolute;
  top: 90px;
  left: 130px; }

.image-section img.img_rt {
  position: absolute;
  top: 30px;
  right: 0;
  width: 700px}

h1.txt_rt {
  position: absolute;
  top: 90px;
  right: 130px; }

.image-section img.img_lt {
  position: absolute;
  top: 30px;
  left: 0;
  width: 700px; }

#last.image-section p.txt_rt {
  right: 288px; }

#last.image-section img.img_lt {
  left: 0; }

#last.image-section p.sub_txt {
  top: 145px;
  font-weight: 300;
  font-size: 0.7em;
  right: 288px; }

.blue-highlight {
  display: inline-block;
  width: 100px;
  background: #1185d7;
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding: 10px 10px; }

#social-footer {
  background-color: #1185d7;
  color: #fff;
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99999; }

#social-footer ul {
  width: 400px;
  margin: 0 auto;
  padding: 15px 0; }

#social-footer a {
  text-decoration: none;
  color: #fff;
  margin: 20px; }

#content {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px;
  padding: 15px;
  border-radius: 20px; }

#resume.image-section .container {
  padding: 20px 0; }

#resume.image-section {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  height: auto;
  margin-top: 100px; }

#resume.image-section h1, #resume.image-section h2, #resume.image-section h3, #resume.image-section p, #resume.image-section ul li {
  font-weight: 300; }

#resume.image-section h2 {
  background-color: #1185d7;
  color: #fff;
  padding: 10px;
  border-radius: 20px; }

#resume.image-section h3 {
  margin: 0.7em 0; }

#resume.image-section p, #resume.image-section ul li {
  color: #6F6F6F; }

.resume {
  padding: 10px; }

#res-skills.resume {
  padding-top: 30px; }

.int-res {
  margin-left: 40px; }

/* ==========================================================================
   _text-section
   ========================================================================== */
.text-section {
  width: 100%;
  height: 600px;
  color: #6c6c6c;
  font-size: 1em;
  z-index: 300;
  position: relative;
  overflow: hidden; }

#code.text-section {
  background: url("../img/code-bkgrd2.png") center no-repeat;
  background-color: #fff; }

#code-p {
  width: 400px;
  top: 260px;
  left: 80px; }

.text-section .txt {
  display: block;
  position: absolute; }

#html p, #css p, #js p {
  color: #1185d7;
  font-weight: 700;
  font-size: 3em;
  text-shadow: 2px 2px 2px #B5B4B4; }

#html {
  position: absolute;
  top: 55px;
  left: 175px; }

#css {
  position: absolute;
  top: 94px;
  right: 373px; }

#js {
  position: absolute;
  top: 255px;
  right: 160px; }

#design.text-section {
  background: url("../img/design-bkgrd2.png") center no-repeat;
  background-color: #fff; }

#design-p {
  width: 400px;
  top: 300px;
  right: 290px;
  z-index: 100; }

#pixel, #iphoneX, #samsung {
  position: absolute;
}

#pixel {
  top: 50px;
  left: 380px;
  z-index: 330;
  width: 290px;
  height: 171px; }

#iphoneX {
  top: 200px;
  left: 20px;
  z-index: 300;
  width: 180px;
  height: 171px; }

#samsung {
  top: 230px;
  right: 40px;
  z-index: 200;
  width: 180px;
  height: 171px; }

#pixel-email, #iphoneX-email, #samsung-email {
  overflow: auto;
  position: absolute;
}

#pixel-email {
  top: 60px;
  left: 402px;
  z-index: 400;
  width: 209px;
  height: 122px;
}

#iphoneX-email {
  top: 225px;
  left: 51px;
  z-index: 400;
  width: 122px;
  height: 245px;
}

#samsung-email {
  top: 255px;
  right: 67px;
  z-index:400;
  width: 122px;
  height: 249px;
}

#design.text-section img {
  max-width: 100%;
  transition: all 1s ease 1s; }

#create.text-section {
  background: url("../img/create-bkgrd2.png") center no-repeat;
  background-color: #fff; }

#create-p {
  width: 450px;
  top: 290px;
  left: 280px; }

.txt {
  line-height: 2em;
  text-align: left; }

#contact img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 467px; }

#port-thumbs {
  margin-top: 100px;
  padding: 0 0 30px 0; }
  #port-thumbs h1 {
    font-weight: 300;
    padding-bottom: 30px; }

.thumbs img {
  width: 150px;
  display: inline-block; }

.thumbs {
  text-align: center; }

.carousel {
  padding-top: 50px; }

#port-carousel {
  padding-bottom: 70px; }

#port-carousel .carousel {
  display: table;
  width: 100%; }

#port-carousel .carousel img, #port-carousel .carousel a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto; }

#port-carousel .carousel img {
  padding-top: 150px; }

#port-carousel .carousel #bigpic {
  padding: 0;
  width: 80%;
  max-width: 800px; }

  #port-carousel .carousel.email #bigpic {
    padding: 0;
    width: 60%;
    max-width: 800px; }

  .carousel.email{
    padding-top: 30px;
  }

/* ==========================================================================
   _footer.scss
   ========================================================================== */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (min-width: 50px) and (max-width: 1000px) {
  #header .nav {
    display: none; }

  #social-footer {
    display: block; }

  #social-footer ul li {
    display: inline-block; } }
@media screen and (min-width: 50px) and (max-width: 940px) {
  /* Style adjustments for viewports that meet the condition */
  .container {
    width: 100%; }

  .image-section {
    height: auto; }

  h1.txt_rt, h1.txt_lt {
    position: static;
    display: block;
    margin: 0 auto;
    padding-top: 30px; }

  .image-section img.img_rt, .image-section img.img_lt {
    position: static;
    display: block;
    margin: 0 auto;
    padding-top: 10px; }

  .text-section {
    height: auto; }

  .text-section .container {
    background-color: rgba(255, 255, 255, 0.9); }

  .text-section .txt {
    position: static;
    text-align: center;
    padding: 50px; }

  .text-section #code-p.txt {
    padding-top: 20px; }

  #create-p, #design-p, #code-p {
    width: 70%;
    margin: 0 auto; }

  #html p, #css p, #js p {
    display: inline-block; }

  #html, #css, #js {
    display: inline-block;
    position: static;
    padding: 20px 20px 0 20px; }

  #design .container {
    padding-bottom: 50px;
  }

  #design-p {
    padding-bottom: 20px;
  }

  #pixel, #samsung, #iphoneX {
    display: inline-block;
    vertical-align: middle;
    position: static;}

  #samsung, #iphoneX {
    width: 100px;
  }

  #pixel {
    width: 200px;
    background-image: url('../img/Outlook-em-mo.png');
    background-size: 100% 100%;
    height: 110px;
  }

  #samsung {
    background-image: url('../img/gmail-em-mo.png');
    background-size: 100% 100%;
    height: 167px;
  }

  #iphoneX {
    background-image: url('../img/iphone-em-mo.png');
    background-size: 100% 100%;
    height: 167px;
  }

  #pixel img, #samsung img, #iphoneX img {display: none;}

  #pixel-email, #samsung-email, #iphoneX-email {
    display: none;
  }

  #last.image-section .container {
    padding: 50px 0; }

  #last.image-section img.img_lt {
    display: none; }

  form.wufoo {
    display: block;
    position: static;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0; }

  input.medium, select.medium {
    width: 100%; } }
@media screen and (min-width: 50px) and (max-width: 608px) {
  /* Style adjustments for viewports that meet the condition */
  #temp6 {
    display: none; }

  #port-carousel .carousel img {
    display: none; }

  #port-carousel .carousel #bigpic {
    display: block;
    width: 90%; }

  #contact img {
    width: 50%; }

  .form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%; }

  textarea + label, input + label {
    text-align: left;
    padding-left: 15px; }

  #contact {
    padding-bottom: 50px; }

  .background-img {
    height: auto; } }
@media screen and (min-width: 50px) and (max-width: 413px) {
  /* Style adjustments for viewports that meet the condition */
  #temp5 {
    display: none; }

  form.wufoo {
    width: 300px; } }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
