/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #000; }

html {
  font-size: 1em;
  line-height: 1.4; }

html, body {
  height: 100%;
  position: relative; }

* {
  box-sizing: border-box; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.container {
  width: 96%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

h1, p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

header {
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: #b5b4b4;
  color: #fff;
  text-align: left;
  height: 75px;
  width: 100%; }
  header a:first-child {
    color: #ffffff;
    text-decoration: none;
    display: inline-block; }
  header h1 {
    padding-top: 17px;
    font-size: 2.8em; }
  header nav {
    display: inline-block;
    position: absolute;
    right: 0; }
  header nav div {
    display: inline-block;
    vertical-align: top; }

a.nav {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 7px;
  background-color: #1185d7;
  position: relative;
  z-index: 200; }

a.hover {
  display: none;
  color: #fff;
  background-color: #1185d7;
  -webkit-transform: rotate(-90deg) translateX(0);
  -moz-transform: rotate(-90deg) translateX(0);
  -ms-transform: rotate(-90deg) translateX(0);
  -o-transform: rotate(-90deg) translateX(0);
  transform: rotate(-90deg) translateX(0);
  text-decoration: none;
  text-align: left;
  width: 85px;
  height: 35px;
  padding: 10px;
  margin: 25px -25px 0 -25px;
  position: relative;
  z-index: 100; }

a.nav:hover + a.hover {
  display: block;
  -webkit-animation: slide-down 400ms ease;
  -moz-animation: slide-down 400ms ease;
  -ms-animation: slide-down 400ms ease;
  -o-animation: slide-down 400ms ease;
  animation: slide-down 400ms ease;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

@-webkit-keyframes slide-down {
  0% {
    margin-top: -29px; }
  100% {
    margin-top: 25px; } }
@-moz-keyframes slide-down {
  0% {
    margin-top: -29px; }
  100% {
    margin-top: 25px; } }
@-ms-keyframes slide-down {
  0% {
    margin-top: -29px; }
  100% {
    margin-top: 25px; } }
@-o-keyframes slide-down {
  0% {
    margin-top: -29px; }
  100% {
    margin-top: 25px; } }
@keyframes slide-down {
  0% {
    margin-top: -29px; }
  100% {
    margin-top: 25px; } }
/* ==========================================================================
   _main-content
   ========================================================================== */
main {
  background: url("../img/bkgrd.jpg") #d4ecfb no-repeat;
  width: 100%;
  height: 100%;
  background: url("../img/bkgrd.jpg") #d4ecfb no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }
  main p {
    font-family: 'Open Sans', sans-serif;
    color: #444343;
    position: relative;
    top: 140px;
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0; }
  main p:first-child {
    font-size: 24px;
    color: #1185d7;
    font-weight: 700; }

.container {
  width: 96%;
  max-width: 1000px;
  position: relative; }

iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 75px; }

aside {
  display: block;
  background-color: #d4ecfb;
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  z-index: 999999;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }
  aside p {
    display: inline-block;
    width: 50%;
    color: #1185d7;
    top: 0; }
  aside img {
    display: inline-block;
    width: 50%;
    max-width: 150px;
    margin: 10px auto 0 auto; }
  aside h2 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: #fff;
    background-color: #1185d7;
    width: 90%;
    padding: 9px 0;
    border-bottom: 1px solid #b5b4b4;
    font-size: 14px; }
  aside div {
    display: none; }
  aside h3 {
    display: inline-block;
    color: #fff;
    width: 10%;
    height: 38px;
    padding: 6px;
    background-color: #1185d7;
    vertical-align: top;
    border-bottom: 1px solid #b5b4b4; }

a.button {
  display: block;
  background-color: #1185d7;
  color: #fff;
  text-decoration: none;
  width: 300px;
  height: 30px;
  text-align: center;
  padding: 5px;
  position: relative;
  top: 200px;
  margin: 0 auto;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out; }

a.button:hover {
  background-color: #444343;
  color: #fff; }

/*#nav_tab{
position: absolute;
top:45px;
width: 154px;
height: 30px;

background-color: $dk_blue;
color: #fff;
padding: 4px;
font-family: 'Open Sans', sans-serif;
text-align: center;

}*/
footer {
  display: none; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (min-width: 50px) and (max-width: 1000px) {
  #header ul {
    display: none; }

  footer {
    display: block; }

  footer ul li {
    display: inline-block; } }
@media screen and (min-width: 50px) and (max-width: 940px) {
  /* Style adjustments for viewports that meet the condition */
  .container {
    width: 100%; }

  .image-section {
    height: auto; }

  .image-section p.txt_rt, .image-section p.txt_lt {
    position: static;
    display: block;
    margin: 0 auto;
    padding-top: 30px; }

  .image-section img.img_rt, .image-section img.img_lt {
    position: static;
    display: block;
    margin: 0 auto;
    padding-top: 10px; }

  .text-section {
    height: auto; }

  .text-section .container {
    background-color: rgba(255, 255, 255, 0.9); }

  .text-section .txt {
    position: static;
    text-align: center;
    padding: 50px; }

  .text-section #code-p.txt {
    padding-top: 20px; }

  #create-p, #design-p, #code-p {
    width: 70%;
    margin: 0 auto; }

  #html p, #css p, #js p {
    display: inline-block; }

  #html, #css, #js {
    display: inline-block;
    position: static;
    padding: 20px 20px 0 20px; }

  #temp1, #temp5, #temp6 {
    display: inline-block;
    position: static;
    padding-bottom: 30px; }

  #design.text-section img {
    transition: none; }

  #design.text-section img:hover {
    width: 200px;
    height: 171px; }

  #last.image-section .container {
    padding: 50px 0; }

  #last.image-section img.img_lt {
    display: none; }

  form.wufoo {
    display: block;
    position: static;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0; }

  input.medium, select.medium {
    width: 100%; } }
@media screen and (min-width: 50px) and (max-width: 608px) {
  /* Style adjustments for viewports that meet the condition */
  #temp6 {
    display: none; } }
@media screen and (min-width: 50px) and (max-width: 413px) {
  /* Style adjustments for viewports that meet the condition */
  #temp5 {
    display: none; }

  form.wufoo {
    width: 300px; } }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
