/* ==========================================================================
   _form.scss
   ========================================================================== */

.form{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 500px;
  margin-top: 80px;

  p{
    font-size: 1.3em;
    margin-top: 30px;
  }
}

form {
  width: 100%;
}

form div{
  display: block;
  margin: 20px 0;
}

input{
  border-radius: 20px;
  border: 1px solid #D8D7D7;

  width: 90%;

  padding: 15px 0 15px 15px;
}

textarea{
  border-radius: 20px;
  border: 1px solid #D8D7D7;

  width: 90%;
  margin: 15px 0;
  padding: 15px 0 15px 15px;
}

input[type="text"] {
  height: 45px;
  margin: 15px 0;
}

input + label, {
  display: block;
  color: #595959;
  margin-top: -45px;
  margin-left: 24px;
  font-size: 14px;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition-duration: 0.2s;
}

textarea + label {
  display: block;
  color: #595959;
  margin-top: -110px;
  margin-left: 20px;
  height: 70px;
  font-size: 14px;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition-duration: 0.2s;
}

input[type="submit"]{
  background-color: $dk_blue;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;

  font-size: 1.3em;
  color: #ffffff;
  margin-top: 40px;
}

input[type="submit"]:hover{
  background-color: #eeeeee;
  color: $dk_blue;
}

input[type="text"]:focus + label, input[type="text"].entered + label{
    -webkit-transform: translate(-35px, -35px) scale(0.9, 0.9);
    -moz-transform: translate(-35px, -35px) scale(0.9, 0.9);
    -ms-transform: translate(-35px, -35px) scale(0.9, 0.9);
    -o-transform: translate(-35px, -35px) scale(0.9, 0.9);
    transform: translate(-35px, -35px) scale(0.9, 0.9);
}

textarea:focus + label, textarea.entered + label{
    -webkit-transform: translate(-35px, -35px) scale(0.9, 0.9);
    -moz-transform: translate(-35px, -35px) scale(0.9, 0.9);
    -ms-transform: translate(-35px, -35px) scale(0.9, 0.9);
    -o-transform: translate(-35px, -35px) scale(0.9, 0.9);
    transform: translate(-35px, -35px) scale(0.9, 0.9);
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid $dk_blue;
}



