/* ==========================================================================
   _header.scss
   ========================================================================== */

// _header.scss

header {
  position: fixed;
  top: 0;
  z-index: 99999;

  background-color: #ffffff;
  text-align: left;
  height: 75px;
  width: 100%;

  a{
    text-decoration: none;
  }

  img{
    width: 15px;
    height: auto;
  }

  h1{
    padding-top: 17px;
    font-size: 2.8em;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    width:49%;
  }

  #social{
    display: inline-block;
    width: 49%;
    text-align: right;
    div{
      display: inline-block;
    }
    a{
      color:#fff;
      display: inline-block;
      vertical-align: middle;
      width:35px;
      height:35px;
      background-color:#9d9d9d;
      text-align: center;
      padding:10px 0;
    }

    a:hover{
      background-color: $dk_blue;
    }
  }
}

nav{  
  position: fixed;
  top: 75px;
  z-index: 99999;
  width:100%;
  background-color:$dk_blue;
  text-align:left;
  a{
    color:#fff;
    text-decoration:none;
    display: inline-block;
    padding: 10px 30px;
    -webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
  }
  a:hover{
    background-color:#ffffff;
    color:$dk_blue;
  }
  .top_nav{
    display: inline-block;
  }
  .sub_nav{
    display:none;
  }
}

 