// _header.scss

header {
  position: fixed;
  top: 0;
  z-index: 99999;

  background-color: #b5b4b4;
  color: #fff;
  text-align: left;
  height: 75px;
  width: 100%;

  a:first-child {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
  }

  h1{
    padding-top: 17px;
    font-size: 2.8em;
  }

  nav {
    display: inline-block;
    position: absolute;
    right: 0;
  }

  nav div {
    display: inline-block;
    vertical-align: top;
  }
}

  a.nav{
    width: 35px;
    height: 35px;

    text-align: center;
    padding:7px;

    background-color: $dk_blue;
    position: relative;

    z-index: 200;
  }

  a.hover{
    display: none;
    color: #fff;
    background-color: $dk_blue;
    -webkit-transform: rotate(-90deg) translateX(0);
    -moz-transform: rotate(-90deg) translateX(0);
    -ms-transform: rotate(-90deg) translateX(0);
    -o-transform: rotate(-90deg) translateX(0);
    transform: rotate(-90deg) translateX(0);

    text-decoration: none;
    text-align: left;

    width: 85px;
    height: 35px;
    padding: 10px;
    margin: 25px -25px 0 -25px;

    position: relative;

    z-index: 100;
  }

  a.nav:hover + a.hover{
    display: block;

    -webkit-animation: slide-down 400ms ease;
    -moz-animation: slide-down 400ms ease;
    -ms-animation: slide-down 400ms ease;
    -o-animation: slide-down 400ms ease;
    animation: slide-down 400ms ease;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
  }

  @-webkit-keyframes slide-down{
    0%{
        margin-top: -29px;
    }

    100%{
        margin-top: 25px;
    }
  }

  @-moz-keyframes slide-down{
    0%{
        margin-top: -29px;
    }

    100%{
        margin-top: 25px;
    }
  }

  @-ms-keyframes slide-down{
    0%{
        margin-top: -29px;
    }

    100%{
        margin-top: 25px;
    }
  }

  @-o-keyframes slide-down{
    0%{
        margin-top: -29px;
    }

    100%{
        margin-top: 25px;
    }
  }

  @keyframes slide-down{
    0%{
        margin-top: -29px;
    }

    100%{
        margin-top: 25px;
    }
  }