// _text-section.scss

.text-section {
  width: 100%;
  height: 600px;

  color: #6c6c6c;
  font-size: 1em;

  box-shadow: 0 0 10px #8C8B8B, 
              0 0 10px #8C8B8B;

  z-index: 300;
  position: relative;

  overflow: hidden;
}

#code.text-section{
  background: url('../img/code-bkgrd2.png') center no-repeat;
  background-color: #fff;
}

#code-p {
  width: 400px;
  top: 260px;
  left: 80px;
}

.text-section .txt{
  display: block;
  position: absolute;
}

#html p, #css p, #js p{
  color: $dk_blue;
  font-weight: $ft_bold;
  font-size: 3em;
  text-shadow: 2px 2px 2px #B5B4B4;
}

#html {
  position: absolute;
  top: 55px;
  left: 175px;
}

#css {
  position: absolute;
  top: 94px;
  right: 373px;
}

#js {
  position: absolute;
  top: 255px;
  right: 180px;
}

#design.text-section{
  background: url('../img/design-bkgrd2.png') center no-repeat;
  background-color: #fff;
}

#design-p{
  width: 400px;
  top: 300px;
  right: 290px;
  z-index: 100;
}

#temp1{
  position: absolute;
  top: 260px;
  right: 0;
  z-index: 300;

  width:200px;
  height: 171px;
  transition: all 1s ease;
}

#temp5{
  position: absolute;
  top: 160px;
  left: -30px;
  z-index: 300;

  width:200px;
  height: 171px;
  transition: all 1s ease;
}

#temp6{
  position: absolute;
  top: 0;
  left: 320px;
  z-index: 200;

  width:200px;
  height: 171px;
  transition: all 1s ease;
}

#design.text-section img{
  max-width: 100%;
  transition: all 1s ease 1s;
}

#temp5:hover{
  -webkit-transform: translate(200%, 50%) scale(3);
  -moz-transform: translate(200%, 50%) scale(3);
  -ms-transform: translate(200%, 50%) scale(3);
  -o-transform: translate(200%, 50%) scale(3);
  transform: translate(200%, 50%) scale(3);
}

#temp6:hover{
  -webkit-transform: translate(40%, 140%) scale(3);
  -moz-transform: translate(40%, 140%) scale(3);
  -ms-transform: translate(40%, 140%) scale(3);
  -o-transform: translate(40%, 140%) scale(3);
  transform: translate(40%, 140%) scale(3);
}

#temp1:hover{
  -webkit-transform: translate(-200%, -10%) scale(3);
  -moz-transform: translate(-200%, -10%) scale(3);
  -ms-transform: translate(-200%, -10%) scale(3);
  -o-transform: translate(-200%, -10%) scale(3);
  transform: translate(-200%, -10%) scale(3);
}

#create.text-section{
  background: url('../img/create-bkgrd2.png') center no-repeat;
  background-color: #fff;
}

#create-p{
  width: 450px;
  top: 290px;
  left: 280px;
}

.txt {
  line-height: 2em;
  text-align: left;
}