@font-face {
    font-family: 'officite';
    src:    url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.eot?fxx6ct');
    src:    url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.eot?fxx6ct#iefix') format('embedded-opentype'),
        url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.ttf?fxx6ct') format('truetype'),
        url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.woff?fxx6ct') format('woff'),
        url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.svg?fxx6ct#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'officite' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\e900";
}
.icon-rocket:before {
    content: "\e901";
}
.icon-phone:before {
    content: "\e902";
}
.icon-c-check:before {
    content: "\e903";
}
.icon-c-rocket:before {
    content: "\e904";
}
.icon-c-phone:before {
    content: "\e905";
}
.icon-cursor:before {
    content: "\e906";
}
.icon-web:before {
    content: "\e907";
}
.icon-mobile:before {
    content: "\e908";
}
.icon-pted:before {
    content: "\e909";
}
.icon-reptrack:before {
    content: "\e90a";
}
.icon-responsive:before {
    content: "\e90b";
}
.icon-search:before {
    content: "\e90c";
}
.icon-social:before {
    content: "\e90d";
}
.icon-vidtour:before {
    content: "\e90e";
}
.icon-c-cursor:before {
    content: "\e90f";
}
.icon-c-web:before {
    content: "\e910";
}
.icon-c-mobile:before {
    content: "\e911";
}
.icon-c-pted:before {
    content: "\e912";
}
.icon-c-reptrack:before {
    content: "\e913";
}
.icon-c-responsive:before {
    content: "\e914";
}
.icon-c-search:before {
    content: "\e915";
}
.icon-c-social:before {
    content: "\e916";
}
.icon-c-vidtour:before {
    content: "\e917";
}

