@font-face {
    font-family: 'officite';
    src:    url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.eot?fxx6ct');
    src:    url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.eot?fxx6ct#iefix') format('embedded-opentype'),
        url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.ttf?fxx6ct') format('truetype'),
        url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.woff?fxx6ct') format('woff'),
        url('http://sugarfreq.github.io/landingpages/fonts/officite-icons-font/fonts/officite.svg?fxx6ct#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'officite' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\e600";
}
.icon-rocket:before {
    content: "\e602";
}
.icon-phone:before {
    content: "\e601";
}
.icon-c-check:before {
    content: "\e603";
}
.icon-c-rocket:before {
    content: "\e605";
}
.icon-c-phone:before {
    content: "\e604";
}
.icon-cursor:before {
    content: "\e906";
}
.icon-web:before {
    content: "\e60b";
}
.icon-mobile:before {
    content: "\e606";
}
.icon-pted:before {
    content: "\e607";
}
.icon-reptrack:before {
    content: "\e608";
}
.icon-responsive:before {
    content: "\e90b";
}
.icon-search:before {
    content: "\e609";
}
.icon-social:before {
    content: "\e60a";
}
.icon-vidtour:before {
    content: "\e90e";
}
.icon-c-cursor:before {
    content: "\e612";
}
.icon-c-web:before {
    content: "\e611";
}
.icon-c-mobile:before {
    content: "\e60c";
}
.icon-c-pted:before {
    content: "\e60d";
}
.icon-c-reptrack:before {
    content: "\e60e";
}
.icon-c-responsive:before {
    content: "\e914";
}
.icon-c-search:before {
    content: "\e60f";
}
.icon-c-social:before {
    content: "\e610";
}
.icon-c-vidtour:before {
    content: "\e917";
}

